{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "about" .Params.about}}

{{ partial "text-and-image-reverse" (dict "heading" .Params.sectors.heading "text" .Params.sectors.text "image" .Params.services.image "buttonText" "Read more" "buttonLink" "/sectors") }}

{{ partial "text-and-image" (dict "heading" .Params.services.heading "text" .Params.services.text "image" .Params.services.image "buttonText" "Read more" "buttonLink" "/services") }}

{{ partial "recruitment" .Params.recruitment}}

<div class="center mw6 pv3">
    <br>
    {{ partial "contact-form" . }}
</div>

{{ end }}
